<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" 
        content="width=device-width,initial-scale=1.0">
        <title>
            sign-up 
        </title>
        <p><h1 style="color:blue ;text-align:center ">STUDENT FORM</h1> </p>
        <p ><h2 style="color: rgb(6, 12, 79);">signup here!</h2></p>

    </head>
    <body style="text-align:center;">
        <div id="login-section"></div>
        <form method="POST">
            
              name:<input type="text"  name="name"placeholder="enter name" ><br><br>
            email:<input type="email" name="email" placeholder="enter email" ><br><br>
            password:<input type="password" name="password" placeholder="enter password(ex-@Manir2005)" ><br><br>
             <button type="submit">signup</button>
        </form>
       <p>Already have an account?<a href="/">login here</a></p>
    </body>
</html>
