<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width ,initial-scale=1.0">
        <title>student_form</title>
    </head>
    <body style="text-align: center;">
        <p><h2 style="color: rgb(31, 14, 107);" >student form</h2></p>
      <form action="/student_form"method="POST">
        
       Full name:<input type="text" name="Full name" placeholder="enter name"><br><br>
       college name:<input type="text" name="college name" placeholder="enter college"><br><br>
        Department:<input type="text" name="Department" placeholder="enter department"><br><br>
         email:<input type="email" name="email" placeholder="enter university email"><br><br>
          student code:<input type="text" name="student code"  pattern="[A-Z]{3}-[0-9]{3}"placeholder="enter std_code"><br><br>
           location:<input type="text" name="location" placeholder="enter location"><br><br>
            year of passing:<input type="number"name="year of passing"  placeholder="enter passing year"><br><br>
            <button type="submit">submit</button><br><br>
          </form>
    </body>
</html>


